<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1.0,maximum-scale=1.0,user-scalable=0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="../../css/chaxun1.css">
</head>

<body>
    <header>
        <div><span>驾驶证号：</span><input type="search" placeholder="请输入证件号"></div>
        <div><span>档案编号：</span><input type="search" placeholder="请输入编码号"></div>
        <button>查询</button>
    </header>
    <P>
        查询结果：
    </P>
    <section>

    </section>
</body>

</html>