.container {
	width: 100%;
	height: 100%;
	display: flex;
	flex-direction: column;
	overflow: hidden;
}
/* 标题部分 */
.title-wrapper {
	flex-shrink: 0;
}
.title-i-wrapper {}
ul.title-i {
	display: flex;
	justify-content: space-between;
	font-size: 14px;
}
ul.titlt-i>li {
}
.title-i-nth1 {
	width: 87px;
	flex-shrink: 0;
}
.title-i-nth1>i {}
.title-i-nth2 {
	flex-grow: 1;
	text-align: center;
}
.title-i-nth2>span {}
.title-i-nth3 {
	width: 87px;
	flex-shrink: 0;
}
.title-i-nth3>i {}
.title-i-nth3>span {}
.title-nav-wrapper {
	padding: 10px;
	display: flex;
	justify-content: space-between;
	font-weight: 600;
	font-size: 15px;
	color: #585858;
}
.title-nav-wrapper>i {}
.title-nav {
	
}
.title-nav>i {}
.title-nav>span {
	display: inline-block;
	padding-left: 15px;
	font-size: 17px;
}
/* 中间区域 */
.content {
	flex-grow: 1;
	overflow: auto;
}
/* logo区域 */
.logo-wrapper {
	padding: 10px 25px;
}
.logo-wrapper>img {
	width: 100%;
}
.logo-button {
	display: flex;
	justify-content: space-between;
	align-items: center;
	box-shadow: 0 10px 20px #999;
	border-radius: 15px;
	padding: 5px 10px;
	box-sizing: border-box;
	font-weight: 600;
}
.logo-left {
	display: flex;
	align-items: center;
}
.logo-left>img {
	width: 50px;
	height: 50px;
	margin-right: 10px;
}
.logo-left>span {}
.logo-right {}
.logo-right>span {
	color: #255293;
	
	font-size: 17px;
}
.logo-right>i {
	display: inline-block;
	padding: 3px;
	margin-left: 7px;
	color: #fff;
	background-color: #255293;
	border-radius: 20px;
}
/* 第一层 */
.floor1 {
	padding: 10px 20px;
}
.floor1>p {
	font-weight: 600;
	color: #333;
}
ul.floor1-list {
	display: flex;
	justify-content: space-around;
	padding-top: 15px;
}
ul.floor1-list>li {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}
ul.floor1-list>li>img {
	width: 30px;
	height:30px;
	margin-bottom: 10px;
}
ul.floor1-list>li>span {
	color: #333;
	font-size: 15px;
}
.floor1>button {
	margin: 10px 50%;
	transform: translateX(-50%);
	height: 2px;
	width: 15px;
	background-color: #255293;
}
.banner {
	width: 100%;
}
/* 多次重复的楼层区域 */
.floor {
	padding: 10px 20px;
}
.f-title {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 10px 0;
	border-bottom: 1px solid #f6f6f6;
}
.f-title>span {
	font-weight: 600;
	color: #333;
}
.f-title-right {
	color: #ababb1;
	font-size: 13px;
}
.f-title-right>span {}
.f-title-right>i {}
.f-body {
	display: flex;
	/* justify-content: center; */
	align-items: center;
	justify-content: space-around;
	padding: 10px 0;
}
.f-body>img {
	width: 80px;
	height: 64px;
}
ul.f-body-list {
	flex-grow: 1;
	height: 64px;
	display: flex;
	justify-content: space-around;
	margin: 30px 0 0 13px;
}
ul.f-body-list>li {
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	align-items: center;
}
ul.f-body-list>li>img {
	width: 30px;
	height: 30px;
	margin-bottom: 15px;
}
ul.f-body-list>li>span {
	font-size: 13px;
}
/* 页脚区域 */
.bottom-wrapper {
	padding: 5px 0;
	flex-shrink: 0;
}
ul.bottom {
	display: flex;
	justify-content: space-around;
	align-items: center;
}
ul.bottom>li {
	display: flex;
	flex-direction: column;
	align-items: center;
}
ul.bottom>li>img {
	width: 20px;
	margin-bottom: 5px;
}
ul.bottom>li>span {
	font-size: 13px;
	color: #6f6f6f;
}
/* 定位元素 */
body {
	position: relative;
}
.call-police {
	display: flex;
	align-items: center;
	position: fixed;
	bottom: 25%;
	right: 0;
	padding: 5px 0px 5px 20px;
	width: 100px;
	border-top-left-radius: 30px;
	border-bottom-left-radius: 30px;
	background-color: #255293;
}
.call-police>img {
	width: 35px;
	margin-right: 15px;
}
.call-police>span {
	color: #fff;
	font-size: 20px;
}
.call-police{
    bottom:20%
}