
<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width,initial-scale=1.0,maximum-scale=1.0,user-scalable=0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<title>自助快处</title>
	<link rel="stylesheet" href="../../../node_modules/jquery-weui/dist/css/jquery-weui.css">
	<link rel="stylesheet" href="../../../node_modules/jquery-weui/dist/lib/weui.min.css">
	<link rel="stylesheet" href="../../../css/weui_biaodan.css">
	<link rel="stylesheet" href="../../../css/biaodan.css">
	<script src="../../../js/jiazai.js"></script>
	<script src="../../../js/basepath.js"></script>
	<script src="../../../component/biaodan/huzheng/js/alert.js"></script>
	<script src="../../../node_modules/jquery-weui/dist/lib/jquery-2.1.4.js"></script>
	<script src="../../../node_modules/jquery-weui/dist/js/jquery-weui.js"></script>
	<script src="../../../node_modules/jquery-weui/dist/js/city-picker.js"></script>
	<script src="../../../js/jquery.validate.min.js"></script>
	<script src="../../../js/regular.js"></script>
	<script src="../../../js/jiazai.js"></script>
	<script src="../../../component/jiaoguan/jiaoguan/js/Handover.js"></script>


</head>

<body>

	<div class="imgshow" style="display: block; z-index: 1000;">
		<div>
			<p class="title"> 类型选择 </p>
				<p class="zhushi" style="color: red;text-align: center">
					请在类型中选择符合自己的所办事项
				</p>
			<button class="submit">确定</button>
		</div>
	</div>
	<form action="javascript:;" method="post" id='signupForm' novalidate="novalidate">
		<section>
			
			<h1>申报人信息</h1>
			<div class="weui-cells weui-cells_form" >

				<div class="weui-cell">
					<div class="weui-cell__hd"><label class="weui-label">姓名:</label></div>
					<div class="weui-cell__bd">
						<input class="weui-input" type="text" name="blrxm" >
					</div>
				</div>

				<div class="weui-cell">
				<div class="weui-cell__hd"><label class="weui-label">公民身份证号码:</label></div>
				<div class="weui-cell__bd">
					<input class="weui-input" required name="blrsfz" >
				</div>
			</div>

				<div class="weui-cell">
					<div class="weui-cell__hd"><label class="weui-label">联系电话:</label></div>
					<div class="weui-cell__bd">
						<input class="weui-input" required name="blrtel">
					</div>
				</div>
				<input type="hidden" id="openid" name="openid" value="${jbxx.openid}" >
				<input type="hidden"  id="uuid" name="uuid" value="${jbxx.uuid}">
			</div>
			
			<h1>事故类型</h1>
			<div class="weui-cells weui-cells_form">
				<div class="weui-cell">
					<div class="weui-cell__hd"><label class="weui-label">事故类型：</label></div>
					<div class="weui-cell__bd">
						<input class="weui-input" id="sglx" required name="sglx" placeholder="请选择事故类型">
					</div>
				</div>
					<div class="weui-cell ">
						<div class="weui-cell__hd"><label class="weui-label">事故详细地址:</label></div>
					</div>
					<div class="weui-cell ">
						<div class="weui-cell__bd">
							<textarea class="weui-textarea" placeholder="请输入详细地址" rows="3" name="sgxxdz"></textarea>
							<div class="weui-textarea-counter"><span>0</span>/200</div>
						</div>
					</div>
					<div class="weui-cell ">
						<div class="weui-cell__hd"><label class="weui-label">事故现场描述:</label></div>
					</div>
					<div class="weui-cell ">
						<div class="weui-cell__bd">
							<textarea class="weui-textarea" placeholder="请输入事故现场描述" rows="3" name="sgxcms"></textarea>
							<div class="weui-textarea-counter"><span>0</span>/200</div>
						</div>
					</div>
			</div>
			
			<h1>报警人信息</h1>
			<div class="weui-cells weui-cells_form">
				<div class="weui-cell">
					<div class="weui-cell__hd"><label class="weui-label">报警人身份：</label></div>
					<div class="weui-cell__bd">
						<input class="weui-input" id="bjrsf" required name="bjrsf" placeholder="请选择报警人身份">
					</div>
				</div>
				<div class="weui-cell">
					<div class="weui-cell__hd"><label class="weui-label">报警人联系电话:</label></div>
					<div class="weui-cell__bd">
						<input class="weui-input" required name="bjrlxdh" placeholder="请输入报警人联系电话">
					</div>
				</div>
				<div class="weui-cell">
					<div class="weui-cell__hd"><label class="weui-label">号牌号码：</label></div>
					<div class="weui-cell__bd">
						<input class="weui-input" id="hphm" required name="hphm" placeholder="请输入本人车牌号码"> 
					</div>
				</div>
				<div class="weui-cell">
					<div class="weui-cell__hd"><label class="weui-label">车辆类型：</label></div>
					<div class="weui-cell__bd">
						<input class="weui-input" id="cllx" required name="cllx" placeholder="请输入本人车辆类型"> 
					</div>
				</div>
			</div>

			<h1>上传材料</h1>
			<!--现场事故照片 -->
			<div class="weui-cells weui-cells_form">
				<div class="container">
					<div class="weui_cells weui_cells_form">
						<div class="weui_cell">
							<div class="weui_cell_bd weui_cell_primary">
								<div class="weui_uploader">
									<div class="weui_uploader_hd weui_cell">
										<div class="weui_cell_bd weui_cell_primary">
										现场事故照片
										</div>
										<i class="weui-icon-warn weui-icon_msg-primary imgwarn img_i_base1"></i>
									</div>
									<div class="weui_uploader_bd">
										<ul class="weui_uploader_files one">
										</ul>
										<div class="weui_uploader_input_wrp">
											<input class="weui_uploader_input js_file1" type="file" name="img"
												accept="image/*" multiple=""></div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="weui_dialog_alert" style="display: none;">
					<div class="weui_mask"></div>
					<div class="weui_dialog ">
						<div class="weui_dialog_hd"> <strong class="weui_dialog_title">警告</strong>
						</div>
						<div class="weui_dialog_bd">弹窗内容，告知当前页面信息等</div>
						<div class="weui_dialog_ft">
							<a href="javascript:;" class="weui_btn_dialog primary">确定</a>
						</div>
					</div>
				</div>
				<div class="imgshow imgshow_base1">
					<div>
						<p class="title"> 实例图片</p>
						<p class="zhushi">
							请上传户口簿正面，内页，登记卡，索引页等，照片大小不超过5兆。
						</p>
					
						<button>确定</button>
					</div>
				</div>
			</div>

			<!-- 居民身份证 -->
			<div class="weui-cells   weui-cells_form">
				<div class="container">
					<div class="weui_cells weui_cells_form">
						<div class="weui_cell">
							<div class="weui_cell_bd weui_cell_primary">
								<div class="weui_uploader">
									<div class="weui_uploader_hd weui_cell">
										<div class="weui_cell_bd weui_cell_primary">
										事务方居民身份证 
										</div>
										<i class="weui-icon-warn weui-icon_msg-primary imgwarn img_i_base2"></i>
									</div>
									<div class="weui_uploader_bd">
										<ul class="weui_uploader_files two">
										</ul>
										<div class="weui_uploader_input_wrp">
											<input class="weui_uploader_input js_file2" type="file" name="img"
												accept="image/*" multiple></div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="weui_dialog_alert" style="display: none;">
					<div class="weui_mask"></div>
					<div class="weui_dialog">
						<div class="weui_dialog_hd"> <strong class="weui_dialog_title">警告</strong>
						</div>
						<div class="weui_dialog_bd">弹窗内容，告知当前页面信息等</div>
						<div class="weui_dialog_ft">
							<a href="javascript:;" class="weui_btn_dialog primary">确定</a>
						</div>
					</div>
				</div>
				<div class="imgshow imgshow_base2">
					<div>
						<p class="title"> 实例图片 </p>
						<p class="zhushi">
						请上传身份证正反面，并保障照片清晰度（图片大小不超过5兆）
						</p>
			
						<button>确定</button>
					</div>
				</div>
			</div>

			<!--责任方居民身份证-->
			<div class="weui-cells weui-cells_form">
				<div class="container">
					<div class="weui_cells weui_cells_form">
						<div class="weui_cell">
							<div class="weui_cell_bd weui_cell_primary">
								<div class="weui_uploader">
									<div class="weui_uploader_hd weui_cell">
										<div class="weui_cell_bd weui_cell_primary">
											责任方居民身份证
										</div>
										<i class="weui-icon-warn weui-icon_msg-primary imgwarn img_i_base3"></i>
									</div>
									<div class="weui_uploader_bd">
										<ul class="weui_uploader_files three">
										</ul>
										<div class="weui_uploader_input_wrp">
											<input class="weui_uploader_input js_file3" type="file" name="img"
												accept="image/*" multiple></div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="weui_dialog_alert" style="display: none;">
					<div class="weui_mask"></div>
					<div class="weui_dialog">
						<div class="weui_dialog_hd"> <strong class="weui_dialog_title">警告</strong>
						</div>
						<div class="weui_dialog_bd">弹窗内容，告知当前页面信息等</div>
						<div class="weui_dialog_ft">
							<a href="javascript:;" class="weui_btn_dialog primary">确定</a>
						</div>
					</div>
				</div>
				<div class="imgshow imgshow_base3">
					<div>
						<p class="title"> 详细介绍 </p>
						<!--<img src="<%=basePath%>webpage/lywjw/lyswjwwx/img/shili/shili.jpg" alt="">-->
						<p class="zhushi">
								请上传市级公安机关出入境管理部门出具的注销户口通知书，暂无示例图片。
								<br>注意照片大小不超过5兆
						</p>
						<button>确定</button>
					</div>
				</div>
			</div>



		</section>

		<footer>
			<button>提交</button>
		</footer>
	</form>
</body>
<script src="../../../component/jiaoguan/jiaoguan/js/SelfHelpExpress.js"></script>
<script type="text/javascript">

$('.youji').css('display', 'none')

$("#lqfs").select({
    title: "邮寄方式",
    items: [{
            title: "邮寄",
            value: "48080a76cb3b44538e210ac06d08144b",
        },
        {
            title: "自取",
            value: "c34046d75c7c4f2699c3655b7227fc56",
        }
    ],
    onClose: function () {   
    $('.youji').css('display', 'none')
    if ($('#lqfs').data('values') == '48080a76cb3b44538e210ac06d08144b') {
        $('.youji').css('display', 'block')
    } 
}
});

</script>

<style>

。weui-label{
width:20px;
}

</style>
</html>