<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1.0,maximum-scale=1.0,user-scalable=0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="../../../node_modules/jquery-weui/dist/css/jquery-weui.css">
    <link rel="stylesheet" href="../../../node_modules/jquery-weui/dist/lib/weui.min.css">
    <link rel="stylesheet" href="../../../css/tab.css">
    <link rel="stylesheet" href="../../../css/footer.css">
    <script src="../../../node_modules/jquery-weui/dist/lib/jquery-2.1.4.js"></script>
</head>
<style>
    section {
        padding-bottom: 50px;
        background-color: #fff;
    }

    .blue {
        background-color: rgb(81, 163, 235)
    }

    .green {
        background-color: rgb(125, 212, 147)
    }
</style>

<body>
    <section>
        <div class="list">
            <a href="../../shuoming/huzheng/shuoming39.html" class="fixclear">
                <p>变更姓氏</p>
                <span class="green">事项公示</span>
            </a>
        </div>
        <div class="list">
            <a href="../../shuoming/huzheng/shuoming40.html" class="fixclear">
                <p>变更名字</p>
                <span class="green">事项公示</span>
            </a>
        </div>
        <div class="list">
            <a href="../../shuoming/huzheng/shuoming41.html" class="fixclear">
                <p>变更更正民族</p>
                <span class="green">事项公示</span>
            </a>
        </div>
        <div class="list">
            <a href="../../shuoming/huzheng/shuoming42.html" class="fixclear">
                <p>服务处所、学历、婚姻状况等</p>
                <span class="green">事项公示</span>
            </a>
        </div>
    </section>
</body>


</html>