<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1.0,maximum-scale=1.0,user-scalable=0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="../../../node_modules/jquery-weui/dist/css/jquery-weui.css">
    <link rel="stylesheet" href="../../../node_modules/jquery-weui/dist/lib/weui.min.css">
    <link rel="stylesheet" href="../../../css/tab.css">
    <link rel="stylesheet" href="../../../css/footer.css">
    <script src="../../../node_modules/jquery-weui/dist/lib/jquery-2.1.4.js"></script>
</head>
<style>
    section {
        padding-bottom: 50px;
        background-color: #fff;
    }

    .blue {
        background-color: rgb(81, 163, 235)
    }

    .green {
        background-color: rgb(125, 212, 147)
    }
</style>

<body>
    <section>
        <div class="list">
            <a href="../../shuoming/huzheng/shuoming22.html" class="fixclear">
                <p>夫妻投靠</p>
                <span class="green">事项公示</span>
            </a>
        </div>
        <div class="list">
            <a href="../../shuoming/huzheng/shuoming23.html" class="fixclear">
                <p>父母投靠成年子女</p>
                <span class="green">事项公示</span>
            </a>
        </div>
        <div class="list">
            <a href="../../shuoming/huzheng/shuoming24.html" class="fixclear">
                <p>子女投靠父母</p>
                <span class="green">事项公示</span>
            </a>
        </div>
        <div class="list">
            <a href="../../shuoming/huzheng/shuoming25.html" class="fixclear">
                <p>投靠其他亲属（限因父母死亡投靠其他监护人）</p>
                <span class="green">事项公示</span>
            </a>
        </div>
        <div class="list">
            <a href="../../shuoming/huzheng/shuoming26.html" class="fixclear">
                <p>收养迁移</p>
                <span class="green">事项公示</span>
            </a>
        </div>
        <div class="list">
            <a href="../../shuoming/huzheng/shuoming27.html" class="fixclear">
                <p>居住落户</p>
                <span class="green">事项公示</span>
            </a>
        </div>
        <div class="list">
            <a href="../../shuoming/huzheng/shuoming28.html" class="fixclear">
                <p>租房落户</p>
                <span class="green">事项公示</span>
            </a>
        </div>
        <div class="list">
            <a href="../../shuoming/huzheng/shuoming29.html" class="fixclear">
                <p>人才落户</p>
                <span class="green">事项公示</span>
            </a>
        </div>
        <div class="list">
            <a href="../../shuoming/huzheng/shuoming30.html" class="fixclear">
                <p>调动和录(聘)用人员迁移</p>
                <span class="green">事项公示</span>
            </a>
        </div>
        <div class="list">
            <a href="../../shuoming/huzheng/shuoming31.html" class="fixclear">
                <p>军官（士官）家属随军</p>
                <span class="green">事项公示</span>
            </a>
        </div>
        <div class="list">
            <a href="../../shuoming/huzheng/shuoming32.html" class="fixclear">
                <p>大中专学校招生</p>
                <span class="green">事项公示</span>
            </a>
        </div>
        <div class="list">
            <a href="../../shuoming/huzheng/shuoming33.html" class="fixclear">
                <p>大中专学生转学、退学或开除学籍</p>
                <span class="green">事项公示</span>
            </a>
        </div>
        <div class="list">
            <a href="../../shuoming/huzheng/shuoming34.html" class="fixclear">
                <p>大中专毕业生就业、回原籍</p>
                <span class="green">事项公示</span>
            </a>
        </div>
    </section>
</body>


</html>