<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1.0,maximum-scale=1.0,user-scalable=0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="../../../node_modules/jquery-weui/dist/css/jquery-weui.css">
    <link rel="stylesheet" href="../../../node_modules/jquery-weui/dist/lib/weui.min.css">
    <link rel="stylesheet" href="../../../css/tab.css">
    <link rel="stylesheet" href="../../../css/footer.css">
    <script src="../../../node_modules/jquery-weui/dist/lib/jquery-2.1.4.js"></script>
</head>
<style>
    section {
        padding-bottom: 50px;
        background-color: #fff;
    }

    .blue {
        background-color: rgb(81, 163, 235)
    }

    .green {
        background-color: rgb(125, 212, 147)
    }
</style>

<body>
    <section>
        <div class="list">
            <a href="../../shuoming/huzheng/shuoming2.html" class="fixclear">
                <p>婚生随父母出生登记</p>
                <span class="green">事项公示</span>
            </a>
        </div>
        <div class="list">
            <a href="../../shuoming/huzheng/shuoming3.html" class="fixclear">
                <p>非婚生随父母出生登记</p>
                <span class="green">事项公示</span>
            </a>
        </div>
        <div class="list">
            <a href="../../shuoming/huzheng/shuoming4.html" class="fixclear">
                <p>国（境）外出生随父母登记</p>
                <span class="green">事项公示</span>
            </a>
        </div>
        <div class="list">
            <a href="../../shuoming/huzheng/shuoming5.html" class="fixclear">
                <p>随祖父母、外祖父母出生登记（父母双方属现役军人、在校学生或华侨）</p>
                <span class="green">事项公示</span>
            </a>
        </div>
        <div class="list">
            <a href="../../shuoming/huzheng/shuoming6.html" class="fixclear">
                <p>父母死亡随其他亲属出生登记</p>
                <span class="green">事项公示</span>
            </a>
        </div>
        <div class="list">
            <a href="../../shuoming/huzheng/shuoming7.html" class="fixclear">
                <p>随双军人或女士官出生登记</p>
                <span class="green">事项公示</span>
            </a>
        </div>
        <div class="list">
            <a href="../../shuoming/huzheng/shuoming8.html" class="fixclear">
                <p>公民收养登记</p>
                <span class="green">事项公示</span>
            </a>
            </a>
            </a>
        </div>
        <div class="list">
            <a href="../../shuoming/huzheng/shuoming9.html" class="fixclear">
                <p>社会福利机构收养登记</p>
                <span class="green">事项公示</span>
            </a>
        </div>
        <div class="list">
            <a href="../../shuoming/huzheng/shuoming10.html" class="fixclear">
                <p>士官、义务兵退出现役落户</p>
                <span class="green">事项公示</span>
            </a>
        </div>
        <div class="list">
            <a href="../../shuoming/huzheng/shuoming11.html" class="fixclear">
                <p>军队转业干部落户</p>
                <span class="green">事项公示</span>
            </a>
        </div>
        <div class="list">
            <a href="../../shuoming/huzheng/shuoming12.html" class="fixclear">
                <p>现役干部转改文职落户</p>
                <span class="green">事项公示</span>
            </a>
        </div>
        <div class="list">
            <a href="../../shuoming/huzheng/shuoming13.html" class="fixclear">
                <p>军队离退休干部（士官）落户</p>
                <span class="green">事项公示</span>
            </a>
        </div>
        <div class="list">
            <a href="../../shuoming/huzheng/shuoming14.html" class="fixclear">
                <p>退兵或开除军籍落户</p>
                <span class="green">事项公示</span>
            </a>
        </div>
        <div class="list">
            <a href="../../shuoming/huzheng/shuoming15.html" class="fixclear">
                <p>回国（境）定居落户</p>
                <span class="green">事项公示</span>
            </a>
        </div>
        <div class="list">
            <a href="../../shuoming/huzheng/shuoming16.html" class="fixclear">
                <p>加入中国籍落户</p>
                <span class="green">事项公示</span>
            </a>
        </div>
        <div class="list">
            <a href="../../shuoming/huzheng/shuoming17.html" class="fixclear">
                <p>宣告死亡（失踪）重新出现落户</p>
                <span class="green">事项公示</span>
            </a>
        </div>
        <div class="list">
            <a href="../../shuoming/huzheng/shuoming18.html" class="fixclear">
                <p>滞站3个月以上流浪乞讨人员落户</p>
                <span class="green">事项公示</span>
            </a>
        </div>

    </section>
</body>


</html>