<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="../css/grjq.css">
</head>
<body>
    <div class="container">
        <a href="HouseholdProgress.html" class="box_list blue_one">
            <div class="top_box blue_two">户政已接收</div>
            <div class="box">
                <div class="box_title">结婚立户</div>
                <div class="clearfix"><span>处理时间</span><span>2019-03-12</span></div>
                <div class="clearfix"><span>处理派出所</span><span>河东派出所</span></div>
                <div class="clearfix"><span>处理情况</span><span>处理完成</span></div>
            </div>
        </a>
    </div>
</body>

</html>