<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta
      name="viewport"
      content="width=device-width,initial-scale=1.0,maximum-scale=1.0,user-scalable=0"
    />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Document</title>
    <link
      rel="stylesheet"
      href="../../node_modules/jquery-weui/dist/css/jquery-weui.css"
    />
    <link
      rel="stylesheet"
      href="../../node_modules/jquery-weui/dist/lib/weui.min.css"
    />
    <!-- <link rel="stylesheet" href="css/allrw.css"> -->
    <link rel="stylesheet" href="css/grlist_bd.css" />
    <link rel="stylesheet" href="css/reset.css" />
    <script src="../../node_modules/jquery-weui/dist/lib/jquery-2.1.4.js"></script>
    <script src="../../node_modules/jquery-weui/dist/js/jquery-weui.min.js"></script>
  </head>

  <body>
    <div class="weui-cells">
      <div class="xqbanner"><span></span> 接警详情 <span></span></div>
      <div class="weui-cell ">
        <div class="weui-cell__bd br_bottom br_top br_left br_right">
          <div class="weui-cell br_bottom br_center">
            <div class="weui-cell__bd">
              <p>报警人：</p>
            </div>
            <div class="weui-cell__ft ">王小明</div>
          </div>
          <div class="weui-cell br_bottom br_center">
            <div class="weui-cell__bd">
              <p>报警时间:</p>
            </div>
            <div class="weui-cell__ft">2019-11-12 22：12</div>
          </div>
          <div class="weui-cell br_bottom br_center">
            <div class="weui-cell__bd">
              <p>联系电话:</p>
            </div>
            <div class="weui-cell__ft">108237189812</div>
          </div>
          <div class="weui-cell br_bottom br_center">
            <div class="weui-cell__bd">
              <p>事件单编号:</p>
            </div>
            <div class="weui-cell__ft">108237189812</div>
          </div>
          <div class="weui-cell br_bottom br_center">
            <div class="weui-cell__bd">
              <p>报警电话:</p>
            </div>
            <div class="weui-cell__ft">108237189812</div>
          </div>
          <div class="weui-cell block br_bottom">
            <div class="weui-cell__bd">
              <p>警情地址:</p>
            </div>
            <div class="weui-cell__ft">
              东高庄奥术大师大所多撒多撒大所多撒多撒多撒啊
            </div>
          </div>
          <div class="weui-cell block br_bottom">
            <div class="weui-cell__bd">
              <p>报警内容:</p>
            </div>
            <div class="weui-cell__ft">
              房屋被拆房屋被拆房屋被拆房屋被拆房屋被拆房屋被拆房屋被拆房屋被拆
            </div>
          </div>
          <div class="weui-cell br_bottom">
            <div class="weui-cell__bd">
              <p>警情类型:</p>
            </div>
            <div class="weui-cell__ft">刑事</div>
          </div>
          <div class="weui-cell  ">
            <a href="#" class="weui-btn weui-btn_primary blue ">下一步</a>
          </div>
        </div>
      </div>
    </div>
  </body>
  <script>
    $(function() {
      $(".weui-cell_swiped").swipeout();

      $("a").on("click", e => {
        e.preventDefault();
        window.location.href = "./grjslist_bd_2.html";
      });
    });
  </script>
</html>
