<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1.0,maximum-scale=1.0,user-scalable=0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="../../node_modules/jquery-weui/dist/css/jquery-weui.css">
    <link rel="stylesheet" href="../../node_modules/jquery-weui/dist/lib/weui.min.css">
    <link rel="stylesheet" href="../../css/xinwen_content.css">
</head>

<body>
<div class="container">
    <h2>联合国教科文组织正式批准临沂沂蒙山为世界地质公园 </h2>
    <img src="../../img/xinwen/wx4.jpg" alt="">
        <p>
            6月8日，市委副书记、市长孟庆斌带队调研督导防汛工作。
        </p>
    <p>
        孟庆斌一行来到市应急管理局、市水利局，实地察看了市政府防汛指挥综合信息系统、市防汛大数据分析展示平台，详细了解当前防汛物资储备、监测预测和应急值班值守等情况。他指出，当前我市已进入汛期，做好防汛工作至关重要。全市各级各相关部门要立足防大汛、抗大灾，居安思危、未雨绸缪，严阵以待、严防死守，确保人民群众生命财产安全。
    </p>
    <p>
        孟庆斌强调，要突出重点难点，明确责任分工，抓紧解决防汛机构正式转隶后的职责模糊、人员交接磨合不到位等问题，聚焦水库、河道、城市、行业防汛和山洪灾害预防、台风防汛、抗旱减灾等重点领域，整合各种资源，调动各方力量，扎实做好防汛备汛工作。要加强气象水文监测预警预报，健全完善抢险预案，为防汛调度和指挥决策提供有力支撑。要加强值班值守，严格落实24小时值班制度，确保汛情发生时信息畅通、决策准确、处置得当。要抓住夏收农忙的关键时机，精心做好汛期抢收备播工作，确保安全度夏度汛。
    </p>
    <p>
        副市长郑连胜陪同。（图/市政府办公室  文/临沂日报）
    </p>
</div>
</body>


</html>