<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1.0,maximum-scale=1.0,user-scalable=0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="../../node_modules/jquery-weui/dist/css/jquery-weui.css">
    <link rel="stylesheet" href="../../node_modules/jquery-weui/dist/lib/weui.min.css">
    <link rel="stylesheet" href="../../css/xinwen_content.css">
</head>

<body>
<div class="container">
    <h2>青岛—临沂融合发展推介会举行 </h2>
    <img src="../../img/xinwen/wx4.jpg" alt="">
        <p>
            2月21日，青岛—临沂“经略海洋·港城联动”融合发展推介会举行。市委书记王玉君，市委副书记郑德雁，青岛港集团董事长李奉利、总裁焦广军出席会议。
        </p>
    <p>
        郑德雁在致辞中指出，青岛港正在加快推进内陆港建设，大力发展海铁联运，这与临沂“建设内外贸融合发展试验区、创建中国物流科技城”的目标思路高度契合、彼此互补，具有开放发展、合作共赢的广阔空间。此次推介活动，是双方融入“一带一路”、打造对外开放新高地的具体行动，标志着青岛港、临沂商城双向交流进入了一个新阶段，必将进一步打通青岛—临沂内外贸联动的大通道，有力助推临沂开放发展。临沂市有关部门要主动加强与青岛市各方面的沟通联系，全力做好衔接、承接工作；有关企业要与青岛港集团深度对接，扩大业务交流与合作，努力实现优势互补、互利共赢。希望青岛港集团、临沂商城，就临沂国际内陆港、公海铁联运等重点事宜，紧密配合、精诚合作，全力以赴抓好组织实施、项目落地，共同推动双方发展再上新水平。
    </p>
    <p>
        李奉利指出，青岛港是长江以北地区乃至东北亚地区重要的海洋港口，是服务于区域经济发展的非常重要的基础设施、公共服务平台，更是山东乃至中国北方地区联通世界的桥梁、纽带和窗口。近年来，青岛港充分发挥在国家“一带一路”倡议中的“双枢纽”地位及“陆海统筹、连通世界”的支点作用，加快海铁联运线路设计和内陆港布局发展，为广大进出口企业搭建便捷高效物流通道。青岛港将以此次推介会为契机，加快临沂陆港经营实体建设，切实落实好青岛港“八项商务政策”和“八项服务承诺”，为临沂市及周边广大进出口企业提供效率更高、成本更低、更加阳光透明的综合物流服务。同时将发挥港口的辐射带动作用，把青岛港的港航资源优势全方位注入到临沂经济发展中，与临沂市持续拓宽合作领域、提升合作成效，当好临沂的出海口、服务员，实现港城融合发展、合作共赢。
    </p>
    <p>
        推介会上，青岛港推介了全程物流服务，针对临沂推出了“八项商务政策”和“八项服务承诺”，并与临沂市政府、济南铁路局签署三方战略合作协议。青岛港旗下物流公司分别与山东永丰轮胎、山东隆盛、金湖彩铝、中盈集团4家企业签署战略合作协议。
    </p>
    <p>
        市委常委、常务副市长侯晓滨出席会议。（图/琅琊新闻网 文/临沂日报）
    </p>
</div>
</body>


</html>