<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1.0,maximum-scale=1.0,user-scalable=0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="../../css/shuoming.css">
</head>

<body>
    <header>
        <h2>普通护照首次</h2>
    </header>
    <section>
        <div class="cen fixclear"><span class="title">办理须知</span> <a href="../biaodan/biaodan.html" class="btn">申报</a></div>
        <div>
            <h5>受理机构</h5>
            <p>出入境支队，出入境大队，出入境办事接待大厅</p>
            <h5>网办程度</h5>
            <p>无</p>
            <h5>所属警钟</h5>
            <p>出入境</p>
            <h5>法定期限</h5>
            <p>7个工作日</p>
            <h5>承诺期限</h5>
            <p>7个工作日</p>
            <h5>收费标准</h5>
            <p>收费标准：根据国务院价格行政部门和财政部门的规定，普通护照的收费标准为： <br>

                （1）首次申请 160元/本<br>
                （2）补、换发普通护照 160元/本<br>
                （3）加注 20元/项<br>
                （4）申请表 免费
            </p>
            <h5>办事指南</h5>
            <p>办理程序：申请人向县（市、区）、设区市公安机关出入境管理机构提出申请——设区市公安机关出入境管理机构审批——省级公安机关出入境管理机构制作普通护照。受理机关：内地居民申请普通护照，应向本人常住户口所在地县级以上地方人民政府公安机关出入境管理机构提出申请，符合公安部规定的在非常住户口所在地申办普通护照的，可按照规定向有关地方公安机关出入境管理机构申请。办理条件：公民因前往外国定居、探亲、学习、就业、旅行、从事商务活动等非公务原因出国的。申请材料：
                （一）符合《出入境证件相片照相指引》标准的相片。
                （二）填写完整的《中国公民出入境证件申请表》。
                （三）居民身份证；在居民身份证领取、换领、补领期间，可以提交临时居民身份证。
                （四）未满十六周岁的公民，应当由其监护人陪同，并提交监护证明（如出生证明、户口簿、监护关系公证书等）、监护人的居民身份证等身份证明。如申请人未办理居民身份证，需提交本人户口簿（首页、资料页、变更页，集体户首页可为复印件）。监护人无法陪同的，可以委托他人陪同，陪同人应当提交本人的居民身份证以及监护人的委托书。
                （五）国家工作人员和现役的人民解放军军人、人民武装警察申请普通护照，还应当提交本人所属工作单位或者上级主管单位出具的同意办理出入境证件的证明。现役的人民解放军军人、人民武装警察，应当提交军官证、士兵证或者警官证作为本人的身份证明，向所属部队驻地县级以上地方人民政府公安机关出入境管理机构提出申请。　　
                （六）省级地方人民政府公安机关出入境管理机构报经公安部出入境管理机构批准，要求提交的其他材料。

            </p>

        </div>
    </section>

</body>

</html>