<!doctype html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport"
        content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>智能机器人</title>
    <link rel="stylesheet" href="aui-20170109-v2.1/css/aui.css">
    <link rel="stylesheet" href="css/index.css">
</head>

<body>
    <div class="container">
        <div class="char_top">出入境智能咨询</div>
        <section class="aui-chat fixclear">
            <div class="aui-chat-header">2018年7月19日</div>
            <div class="aui-chat-item aui-chat-left">
                <div class="aui-chat-media">
                    <img src="image/kefu.png" />
                </div>
                <div class="aui-chat-inner">
                    <div class="aui-chat-name">智能客服 <span class="aui-label aui-label-warning">2.0</span></div>
                    <div class="aui-chat-content">
                        <div class="aui-chat-arrow"></div>
                        欢迎进入临沂出入境智能咨询！
                    </div>
                    <div class="aui-chat-status aui-chat-status-refresh">
                        <!--<i class="aui-iconfont aui-icon-correct aui-text-success"></i>-->
                    </div>
                </div>
            </div>
            <div class="aui-chat-item aui-chat-left">
                <div class="aui-chat-media">
                    <img src="image/kefu.png" />
                </div>
                <div class="aui-chat-inner">
                    <div class="aui-chat-name">智能客服 <span class="aui-label aui-label-warning">2.0</span></div>
                    <div class="aui-chat-content">
                        <div class="aui-chat-arrow"></div>
                        <a href="#">1. 如 果 我 需 要 申 请 入 境 签 证 来 港 旅 游 ， 应 该 怎 样 做 ？</a>
                        <a href="#">2.我 前 来 香 港 旅 游 是 否 需 要 入 境 签 证 ／ 进 入 许 可 呢 ？</a>
                        <a href="#">3. 怎 样 申 请 香 港 特 别 行 政 区 护 照 ？</a>
                        <a href="#">4. 谁 可 享 有 香 港 特 区 居 留 权 ？</a>
                        <a href="#">5.如 访 港 旅 客 需 要 申 请 延 期 逗 留 ， 应 在 那 处 及 何 时 申 请 ？</a>
                        <a href="#">6. 外 籍 家 庭 佣 工 有 什 么 雇 用 限 制 ？</a>
                        <a href="#">7. 如 何 递 交 拟 结 婚 通 知 书 ( 通 知 书 ) ?</a>
                    </div>
                    <div class="aui-chat-status aui-chat-status-refresh">
                        <!--<i class="aui-iconfont aui-icon-correct aui-text-success"></i>-->
                    </div>
                </div>
            </div>
            <div class="aui-chat-item aui-chat-right">
                <div class="aui-chat-media">
                    <img src="image/touxiang.png" />
                </div>
                <div class="aui-chat-inner">
                    <div class="aui-chat-name">小明</div>
                    <div class="aui-chat-content">
                        <div class="aui-chat-arrow"></div>
                        你好！
                    </div>
                    <div class="aui-chat-status">
                        <!--<i class="aui-iconfont aui-icon-info aui-text-danger"></i>-->
                    </div>
                </div>
            </div>
            <div class="aui-chat-item aui-chat-left">
                <div class="aui-chat-media">
                    <img src="image/kefu.png" />
                </div>
                <div class="aui-chat-inner">
                    <div class="aui-chat-name">智能客服 <span class="aui-label aui-label-warning">2.0</span></div>
                    <div class="aui-chat-content">
                        很高兴为您服务！
                        <!-- <div class="aui-chat-arrow"></div>
                    <a href="http://hao1.91nzh.com/q/43/">1.崂山区镇政府</a>
                    <a href="http://hao1.91nzh.com/q/43/">2.崂山区镇政府的萨达萨达所</a>
                    <a href="#">3.崂山区镇政府大萨达ddddddddddddddddddddddddddddddddddddd</a>
                    <a href="#">4.崂山区镇政府大萨达撒</a>
                    <a href="#">5.崂山区镇政大大府</a>
                    <a href="#">6.崂山区镇政府大萨达撒多</a> -->
                    </div>
                    <div class="aui-chat-status aui-chat-status-refresh">
                        <!--<i class="aui-iconfont aui-icon-correct aui-text-success"></i>-->
                    </div>
                </div>
            </div>



        </section>
        <div class="container_bottom">
            <div class="yuyin"></div>
            <div class="char_bottom">
                <div class="textok">
                    <div class="box">
                        <img src="image/key22.png" alt="">
                        <input type="text">
                    </div>
                    <div class="inp">
                        <img src="image/voice42.png" alt="">
                        <div class="click_btn">按住 说话</div>
                    </div>
                </div>


                <button class="fasong">发送</button>
            </div>
        </div>
        <div class="char_yuyin">
            <div class="icon_yuyin"></div>
            <ul>
                <li></li>
                <li></li>
                <li></li>
                <li></li>
                <li></li>
                <li></li>
                <li></li>
                <li></li>
                <li></li>
            </ul>
        </div>
    </div>
</body>
<script src="js/jquery-2.1.4.js"></script>
<script>
    $(function () {

        $('.char_top').on('click', function () {
            window.location.href = '../../index.html'
        })

        $('.char_bottom button').on('click', function () {
            let val = $('.char_bottom  input').val();
            if (val) {
                str = `
             <div class="aui-chat-item aui-chat-right">
            <div class="aui-chat-media">
                <img src="image/touxiang.png" />
            </div>
            <div class="aui-chat-inner">
                <div class="aui-chat-name">小明</div>
                <div class="aui-chat-content">
                    <div class="aui-chat-arrow"></div>
                    ${val}
                </div>
                <div class="aui-chat-status">
                </div>
            </div>
        </div>
            `
                $('.aui-chat').append(str)
                $('.char_bottom  input').val('');
                // -----------------------------发送ajax--------------------------------------
                $.ajax({
                    url: '',
                    type: 'post',
                    data: val,
                    dataType: 'json',
                    async: false,
                    success: function (mag) {
                        let str = `
                     <div class="aui-chat-item aui-chat-left">
                       <div class="aui-chat-media">
                      <img src="image/kefu.png" />
                     </div>
                       <div class="aui-chat-inner">
                           <div class="aui-chat-name">智能机器人 <span class="aui-label aui-label-warning">2.0</span></div>
                              <div class="aui-chat-content">
                               <div class="aui-chat-arrow"></div>
                             ${mag}
                              </div>
                          <div class="aui-chat-status aui-chat-status-refresh">
                </div>
            </div>
        </div>
                    `
                        $('.aui-chat').append(str)
                    }
                })





                // ------------------------------------------------------------------
            }
        })
        let startnum = null;
        let settime = null;
        let lock = null;
        $('.click_btn').on('touchstart', function (e) {
            let timenum = 0;

            lock = true;
            settime = setInterval(function () {
                timenum++;
                $('.char_yuyin ul li').animate({
                    'opacity': "0.3"
                }, 200)
                $('.char_yuyin ul li').eq(timenum).animate({
                    'opacity': "1"
                }, 200)
                if (timenum >= 8) {
                    timenum = 0
                }
            }, 100)

            $('.char_yuyin').css({
                'display': 'block'
            })
            startnum = e.timeStamp;
            $('body').on('touchmove', function (e) {
                lock = false;
                if (e.timeStamp - startnum > 4000) {
                    $('.char_yuyin').css({
                        'display': 'none'
                    })
                    // $('.click_btn').css({'display': 'none'})
                    // $('.click_btn').css({'display': 'none'})
                    // $('.char_bottom .box').css({'display': 'block'})
                    clearInterval(settime)
                }

            })
            $('.click_btn').on('touchend', function (e) {
                // num++;
                $('.char_yuyin').css({
                    'display': 'none'
                })
                if (lock) {
                    // --------------------------------------   语音识别   --------------------------------------------
                    $('.char_bottom  input').val("语音输入") //添加到input里面   
                    // ----------------------------------------------------------------------------------
                    let val = $('.char_bottom  input').val();
                    clearInterval(settime)
                    // $('.char_bottom .box').css({'display': 'block'})
                    // $('.char_bottom .click_btn').css({'display': 'none'})
                    // console.log(num)
                }
                // console.log(num)


            })

        })

        $('.fasong').on('click', function () {
            scrollTo(0, 40 + $('.aui-chat').height())
        })

    })
</script>

</html>