<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1.0,maximum-scale=1.0,user-scalable=0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>自动开锁</title>
    <link rel="stylesheet" href="../../css/shuoming2.css">
    <style>
        .list div p{
            text-indent: 28px;
            font-size: 14px;
        }
    </style>
</head>

<body>
<header>
    <h2>自动开锁事项说明</h2>
</header>
<section>
    <div class="list">
        <!--<p>事项说明</p>-->

        <div>
            <p>
                一、本服务是由南京警方推出的便民措施，所有开锁服务人员均在南京警方登记备案，请放心使用服务，您也可以选择直接拨打110进行开锁求助。开锁为有偿服务，服务人员将视锁型不同及路程远近收取相应的费用。
            </p>
            <p>
                二、本服务目前仅对南京主城六区推出，江宁、浦口、六合、溧水、高淳暂时无法使用。
            </p>
            <p>

                三、开锁服务人员到达现场后，请您主动根据服务人员要求，出示相关证件，如身份证、房产证、车辆驾驶证等，对于单位申请开锁的，需单位多人在场或提供企业营业执照等证明材料。如开锁过程中证件不齐全，锁匠将不予开锁，并由110民警进行处理。锁匠仅进行开锁服务，不负责攀爬入室进行开门。

            </p>
            <p>
                四、如谎报开锁请求，或开锁动机非正常合法，将承担相应的刑事，民事法律责任。
            </p>
            <p>

                同意以上条款并继续使用服务
            </p>
            <p>
                联系电话：110,025-52211812
            </p>
        </div>
    </div>
    <div class="list">
        <div>
            <p>
                <!--申请人通过互联网提交申请材料,派出所于3个工作日内预审,通过的,申请人到派出所提交材料原件或将材料原件邮寄到派出所。派出所收到材料后，当场给予办理，办理完结后反馈申请人。申请人到派出所现场确认办理结果，在《办理户籍业务事项申请表》《常住人口登记表》等材料上签字、捺指纹，并领取办理完毕的户籍证件、簿册及需要退还的证件。-->
            </p>
        </div>
    </div>
</section>
<footer>
    <a href="Unlocking.html">我已认真阅读并同意</a>
</footer>
</body>

</html>