<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

	<title>Document</title>
</head>
<script src="../../../node_modules/jquery-weui/dist/lib/jquery-2.1.4.js"></script>
<body>
	<form action="#" method="post">

			<input class="weui_uploader_input js_file3 file" type="file" onclick=""  name="video"
			accept="image/jpg,image/jpeg,image/png,video/mp4" multiple="">

			<video src="#" class="showVideo"  style="width: 100px ;height: 100px"></video>


			<input  class="sub" name="a" type="submit">

	</form>
	<button class="qu">确定</button>
</body>
<script>

</script>
</html>