<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1.0,maximum-scale=1.0,user-scalable=0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>自动移车</title>
    <link rel="stylesheet" href="../../css/shuoming2.css">
    <style>
        .list div p{
            text-indent: 28px;
            font-size: 14px;
        }
        .list div img{
            width: 100%;
        }
    </style>
</head>

<body>
<header>
    <h2>自动移车事项说明</h2>
</header>
<section>
    <div class="list">
        <div>
            <img src="./../../img/shili/moveCar/movecar1.png" alt="">
            <img src="./../../img/shili/moveCar/movecar2.png" alt="">

            <p>
                1.本服务是临沂警方推出的针对“移车报警求助”的自动式服务系统，您的申请信息和车主的反馈信息均通过后台自动处理，
                不会泄露双方个人信息。
            </p>
            <p>
                2.提交申请仅需拍摄车辆照片（可看清车牌）、选择车型、输入车牌号码和停车地点。
            </p>
            <p>
                3.为确保“停车地点”的准确性并减少输入时间，建议点击地点右侧按钮启动自动定位。
            </p>
            <p>
                4.请谨慎使用本服务，如受到两次有效投诉，将停止您的自动移车服务。
            </p>
        </div>
    </div>
    <div class="list">
        <div>
            <p>
                申请人通过互联网提交申请材料,派出所于3个工作日内预审,通过的,申请人到派出所提交材料原件或将材料原件邮寄到派出所。派出所收到材料后，当场给予办理，办理完结后反馈申请人。申请人到派出所现场确认办理结果，在《办理户籍业务事项申请表》《常住人口登记表》等材料上签字、捺指纹，并领取办理完毕的户籍证件、簿册及需要退还的证件。
            </p>
        </div>
    </div>
</section>
<footer>
    <a href="MovingCar.html">我已认真阅读并同意</a>
</footer>
</body>

</html>