<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width,initial-scale=1.0,maximum-scale=1.0,user-scalable=0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<title>Document</title>
	<link rel="stylesheet" href="../../../node_modules/jquery-weui/dist/css/jquery-weui.css">
	<link rel="stylesheet" href="../../../node_modules/jquery-weui/dist/lib/weui.min.css">
	<link rel="stylesheet" href="../../../css/weui_biaodan.css">
	<link rel="stylesheet" href="../../../css/biaodan.css">
	<script src="js/basepath.js"></script>
	<script src="../../../node_modules/jquery-weui/dist/lib/jquery-2.1.4.js"></script>
	<script src="../../../node_modules/jquery-weui/dist/js/jquery-weui.js"></script>
	<script src="../../../node_modules/jquery-weui/dist/js/city-picker.js"></script>
	<script src="js/EstablishmentApplication.js"></script>

</head>

<style>
	.next{
		width: 49%;height:50px;
	}
	.last{
		width: 49%;height:50px;
	}
	
	
	</style>
	
	<script>
	
	
		function showOne(){
			$('.fl_type1').css('display', 'block')
			$('.fl_type2').css('display', 'none')
			$('.fl_type3').css('display', 'none')
			$('.fl_type4').css('display', 'none')

		}
	
		function showTwo(){		
			$('.fl_type1').css('display', 'none')
			$('.fl_type2').css('display', 'block')
			$('.fl_type3').css('display', 'none')
			$('.fl_type4').css('display', 'none')
	
		}
	
		function showThree(){
			$('.fl_type1').css('display', 'none')
			$('.fl_type2').css('display', 'none')
			$('.fl_type3').css('display', 'block')
			$('.fl_type4').css('display', 'none')

		}
	
		function showFour(){
			$('.fl_type1').css('display', 'none')
			$('.fl_type2').css('display', 'none')
			$('.fl_type3').css('display', 'none')
			$('.fl_type4').css('display', 'block')

		}
	
	</script>

<body>
	<div class="imgshow" style="display: block; z-index: 1000;">
		<div>
			<p class="title"> 详细介绍 </p>
			<img src="../../../img/shili/shili1.png" alt="">
			<p class="zhushi" style="color: red;text-align: center">
				请先选择类型
			</p>
			<button class="submit">确定</button>
		</div>
	</div>
	<form action="#" method="post">
		<section>
			<div class="fl_type1">
				<h1>申报人信息</h1>
				<div class="weui-cells weui-cells_form">
					<div class="weui-cell">
						<div class="weui-cell__hd"><label class="weui-label">姓名:</label></div>
						<div class="weui-cell__bd">
							<input class="weui-input" required  name="blrxm" >
						</div>
					</div>
					<div class="weui-cell">
						<div class="weui-cell__hd"><label class="weui-label">公民身份证号码:</label></div>
						<div class="weui-cell__bd">
							<input class="weui-input" required type="text" name="blrsfz" placeholder="">
						</div>
					</div>
					<div class="weui-cell">
						<div class="weui-cell__hd"><label class="weui-label">性别:</label></div>
						<div class="weui-cell__bd">
							<input class="weui-input" required name="blrxb" id ="blrxb" placeholder="">
						</div>
					</div>
					<div class="weui-cell">
						<div class="weui-cell__hd"><label class="weui-label">联系电话:</label></div>
						<div class="weui-cell__bd">
							<input class="weui-input" required name="blrtel" placeholder="">
						</div>
					</div>
				</div>

				<h1>申请单位基本信息</h1>
				<div class="weui-cells weui-cells_form">
					<div class="weui-cell">
						<div class="weui-cell__hd"><label class="weui-label">拟设立培训单位名称:</label></div>
						<div class="weui-cell__bd">
							<input class="weui-input"  name="TrainName" placeholder="请输入拟设立培训单位名称">
						</div>
					</div>
					<div class="weui-cell">
						<div class="weui-cell__hd"><label class="weui-label">注册地 (市县区):</label></div>
						<div class="weui-cell__bd">
							<input class="weui-input" required name="TrainRegistration" placeholder="请输入注册地 (市县区)">
						</div>
					</div>
					<div class="weui-cell">
						<div class="weui-cell__hd"><label class="weui-label">住所详址:</label></div>
						<div class="weui-cell__bd">
							<input class="weui-input" required name="TrainPlace" placeholder="请输入住所详址">
						</div>
					</div>
					<div class="weui-cell">
							<div class="weui-cell__hd"><label class="weui-label">邮编:</label></div>
							<div class="weui-cell__bd">
								<input class="weui-input" required name="ZipCode" placeholder="请输入邮编">
							</div>
					</div>
					<div class="weui-cell">
						<div class="weui-cell__hd"><label class="weui-label">单位类型:</label></div>
						<div class="weui-cell__bd">
							<input class="weui-input" required name="CompanyType" placeholder="请输入单位类型">
						</div>
					</div>
					<div class="weui-cell">
						<div class="weui-cell__hd"><label class="weui-label">申请人姓名:</label></div>
						<div class="weui-cell__bd">
							<input class="weui-input" required name="ApplyName" placeholder="请输入申请人姓名">
						</div>
					</div>
					<div class="weui-cell">
						<div class="weui-cell__hd"><label class="weui-label">固定电话:</label></div>
						<div class="weui-cell__bd">
							<input class="weui-input" required name="ApplyFixed" placeholder="请输入固定电话">
						</div>
					</div>
					<div class="weui-cell">
						<div class="weui-cell__hd"><label class="weui-label">联系电话:</label></div>
						<div class="weui-cell__bd">
							<input class="weui-input" required name="ApplyTelephone" placeholder="请输入联系电话">
						</div>
					</div>

					<div class="weui-cell">
						<div class="weui-cell__hd"><label class="weui-label">培训内容:</label></div>
					</div>
					<div class="weui-cell">
						<div class="weui-cell__bd">
							<textarea class="weui-textarea" placeholder="请输入培训内容" rows="3" name="TrainingContent"></textarea>
							<div class="weui-textarea-counter"><span>0</span>/200</div>
						</div>
					</div>
					<div class="weui-cell">
						<div class="weui-cell__hd"><label class="weui-label">培训规模:</label></div>
						<div class="weui-cell__bd">
							<input class="weui-input" required name="TrainingScale" placeholder="请输入培训规模（">
						</div>
					</div>
					<div class="weui-cell">
						<div class="weui-cell__hd"><label class="weui-label">教室面积(平米):</label></div>
						<div class="weui-cell__bd">
							<input class="weui-input" required name="ClassroomArea" placeholder="请输入教室面积(平米)">
						</div>
					</div>
					<div class="weui-cell">
						<div class="weui-cell__hd"><label class="weui-label">训练场地(平米):</label></div>
						<div class="weui-cell__bd">
							<input class="weui-input" required name="TrainingField" placeholder="请输入训练场地（平米）">
						</div>
					</div>
					<div class="weui-cell">
						<div class="weui-cell__hd"><label class="weui-label">师资人员总数:</label></div>
						<div class="weui-cell__bd">
							<input class="weui-input" required name="TeachersNumber" placeholder="请输入师资人员总数">
						</div>
					</div>
					<div class="weui-cell">
						<div class="weui-cell__hd"><label class="weui-label">其中保安专业师资人数:</label></div>
						<div class="weui-cell__bd">
							<input class="weui-input" required name="SecurityMajorNumber" placeholder="请输入其中保安专业师资人数">
						</div>
					</div>
					<div>
						<center>
						 <div class="weui-form-preview__ft">				
								<button type="submit" class="weui-form-preview__btn weui-form-preview__btn_primary"  style="color: 3371E3" onclick="showTwo()">下一步</button>
							  </div>
						</center>
						</div>
					</div>
			</div>

			<div class="fl_type2">
				<h1>法定代表人信息</h1>
				<div class="weui-cells weui-cells_form">
					<div class="weui-cell">
						<div class="weui-cell__hd"><label class="weui-label">法定代表人姓名:</label></div>
						<div class="weui-cell__bd">
							<input class="weui-input" name="LegalName"  placeholder="请输入法定代表人姓名" >
						</div>
					</div>
					<div class="weui-cell">
						<div class="weui-cell__hd"><label class="weui-label">法定代表人职务:</label></div>
						<div class="weui-cell__bd">
							<input class="weui-input" required name="LegalPost" placeholder="请输入法定代表人职务">
						</div>
					</div>
					<div class="weui-cell">
						<div class="weui-cell__hd"><label class="weui-label">法定代表人身份证:</label></div>
						<div class="weui-cell__bd">
							<input class="weui-input" required name="LegalCard" placeholder="请输入法定代表人身份证">
						</div>
					</div>
					<div class="weui-cell">
						<div class="weui-cell__hd"><label class="weui-label">法定代表人固定电话:</label></div>
						<div class="weui-cell__bd">
							<input class="weui-input" required name="LegalFixed" placeholder="请输入法定代表人固定电话">
						</div>
					</div>
					<div class="weui-cell">
						<div class="weui-cell__hd"><label class="weui-label">法定代表人联系电话:</label></div>
						<div class="weui-cell__bd">
							<input class="weui-input" required name="LegalTelephone" placeholder="请输入法定代表人联系电话">
						</div>
					</div>
					<div class="weui-cell">
						<div class="weui-cell__hd"><label class="weui-label">法定代表人住址:</label></div>
						<div class="weui-cell__bd">
							<input class="weui-input" required name="LegalAdress" placeholder="请输入法定代表人住址">
						</div>
					</div>
				</div>

				<h1>主要管理人员</h1>
				<div class="weui-cells weui-cells_form xinxi glxx">
					<div class="weui-cell">
						<div class="weui-cell__hd block">
							<span>主要管理人员</span>
							<span class="tianjia "></span>
						</div>
					</div>
					<div class="weui-cells weui-cells_form">
						<div class="weui-cell">
							<div class="weui-cell__hd"><label class="weui-label">姓名:</label></div>
							<div class="weui-cell__bd">
								<input class="weui-input" required name="AdminName" placeholder="请输入姓名">
							</div>
						</div>
						<div class="weui-cell">
							<div class="weui-cell__hd"><label class="weui-label">职务:</label></div>
							<div class="weui-cell__bd">
								<input class="weui-input" required name="AdminPost" placeholder="请输入职务">
							</div>
						</div>
						<div class="weui-cell">
							<div class="weui-cell__hd"><label class="weui-label">原工作单位:</label></div>
							<div class="weui-cell__bd">
								<input class="weui-input" required name="AdminWorkUnit" placeholder="请输入原工作单位">
							</div>
						</div>
						<div class="weui-cell">
							<div class="weui-cell__hd"><label class="weui-label">职务:</label></div>
							<div class="weui-cell__bd">
								<input class="weui-input" required name="AdminWorkPost" placeholder="请输入职务">
							</div>
						</div>
					</div>			
				<div>
					<div>
						<center>
							<div class="weui-form-preview__ft">
									<button type="submit" class="weui-form-preview__btn weui-form-preview__btn_primary"  style="color: 3371E3" onclick="showOne()">上一步</button>				
									<button type="submit" class="weui-form-preview__btn weui-form-preview__btn_primary"  style="color: 3371E3" onclick="showThree()">下一步</button>
								  </div>
						</center>
					</div>
				</div>
			</div>
			</div>

				<div class="fl_type3">
				<h1>保安专业师资人员名单</h1>
				<div class="weui-cells weui-cells_form xinxi baxx">
					<div class="weui-cell">
						<div class="weui-cell__hd block">
							<span>保安专业师资人员名单</span>
							<span class="tianjia "></span>
						</div>
					</div>
					<div class="weui-cells weui-cells_form">
						<div class="weui-cell">
							<div class="weui-cell__hd"><label class="weui-label">姓名:</label></div>
							<div class="weui-cell__bd">
								<input class="weui-input" required name="TeachersnName" placeholder="请输入姓名">
							</div>
						</div>
						<div class="weui-cell">
							<div class="weui-cell__hd"><label class="weui-label">教学岗位:</label></div>
							<div class="weui-cell__bd">
								<input class="weui-input" required name="TeachersPost" placeholder="请输入教学岗位">
							</div>
						</div>
						<div class="weui-cell">
							<div class="weui-cell__hd"><label class="weui-label">专（兼）职:</label></div>
							<div class="weui-cell__bd">
								<input class="weui-input"  id="TeachersFullPart" required name="TeachersFullPart" placeholder="请选择专（兼）职">
							</div>
						</div>
						<div class="weui-cell">
							<div class="weui-cell__hd"><label class="weui-label">学历:</label></div>
							<div class="weui-cell__bd">
								<input class="weui-input" required name="TeachersEducation" placeholder="请输入学历">
							</div>
						</div>
						<div class="weui-cell">
							<div class="weui-cell__hd"><label class="weui-label">原工作单位岗位:</label></div>
							<div class="weui-cell__bd">
								<input class="weui-input"   required name="TeachersWorkPost" placeholder="请输入原工作单位岗位">
							</div>
						</div>
					</div>
				</div>


				<h1>其他师资人员名单</h1>
				<div class="weui-cells weui-cells_form xinxi qtxx">
					<div class="weui-cell">
						<div class="weui-cell__hd block">
							<span>其他师资人员名单</span>
							<span class="tianjia "></span>
						</div>
					</div>
					<div class="weui-cells weui-cells_form">
						<div class="weui-cell">
							<div class="weui-cell__hd"><label class="weui-label">姓名:</label></div>
							<div class="weui-cell__bd">
								<input class="weui-input" required name="OtherName" placeholder="请输入姓名">
							</div>
						</div>
						<div class="weui-cell">
							<div class="weui-cell__hd"><label class="weui-label">教学岗位:</label></div>
							<div class="weui-cell__bd">
								<input class="weui-input" required name="OtherPost" placeholder="请输入教学岗位">
							</div>
						</div>
						<div class="weui-cell">
							<div class="weui-cell__hd"><label class="weui-label">专（兼）职:</label></div>
							<div class="weui-cell__bd">
								<input class="weui-input"  id="OtherFullPart" required name="OtherFullPart" placeholder="请选择专（兼）职">
							</div>
						</div>
						<div class="weui-cell">
							<div class="weui-cell__hd"><label class="weui-label">学历:</label></div>
							<div class="weui-cell__bd">
								<input class="weui-input" required name="OtherEducation" placeholder="请输入学历">
							</div>
						</div>
						<div class="weui-cell">
							<div class="weui-cell__hd"><label class="weui-label">原工作单位岗位:</label></div>
							<div class="weui-cell__bd">
								<input class="weui-input"   required name="OtherWorkPost" placeholder="请输入原工作单位岗位">
							</div>
						</div>
					</div>
					<div>
						<center>
						<div class="weui-form-preview__ft">
							<button type="submit" class="weui-form-preview__btn weui-form-preview__btn_primary"  style="color: 3371E3" onclick="showTwo()">上一步</button>				
							<button type="submit" class="weui-form-preview__btn weui-form-preview__btn_primary"  style="color: 3371E3" onclick="showFour()">下一步</button>
						  </div>
						</center>	
						</div>
					</div>
				</div>
		
		<div class="fl_type4">	
			<h1>上传材料</h1>
			<!--保安服务公司的保安服务许可证复印件-->
			<div class="weui-cells weui-cells_form">
				<div class="container">
					<div class="weui_cells weui_cells_form">
						<div class="weui_cell">
							<div class="weui_cell_bd weui_cell_primary">
								<div class="weui_uploader">
									<div class="weui_uploader_hd weui_cell">
										<div class="weui_cell_bd weui_cell_primary">保安服务公司的保安服务许可证复印件</div>
										<i class="weui-icon-warn weui-icon_msg-primary imgwarn img_i_base1"></i>
									</div>
									<div class="weui_uploader_bd">
										<ul class="weui_uploader_files one">
										</ul>
										<div class="weui_uploader_input_wrp">
											<input class="weui_uploader_input js_file1" type="file" name="img"
												accept="image/jpg,image/jpeg,image/png,image/gif" multiple=""></div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="weui_dialog_alert" style="display: none;">
					<div class="weui_mask"></div>
					<div class="weui_dialog">
						<div class="weui_dialog_hd"> <strong class="weui_dialog_title">警告</strong>
						</div>
						<div class="weui_dialog_bd">弹窗内容，告知当前页面信息等</div>
						<div class="weui_dialog_ft">
							<a href="javascript:;" class="weui_btn_dialog primary">确定</a>
						</div>
					</div>
				</div>
				<div class="imgshow imgshow_base1">
					<div>
						<p class="title"> 详细介绍 </p>
						<!--<img src="../../../img/shili/shili.jpg" alt="">-->
						<p class="zhushi">
							居民户口簿:封面、首页、索引页、户主常住人口登记卡、拟分户人员1常住人口登记卡、拟分户人员2常住人口登记卡…
							<br><br>
							居民身份证:居民身份证正面、居民身份证反面
							<br><br>
							房屋所有权、使用权证明或其他合法稳定住所证明备选项1:房屋所有权、使用权证明：房屋产权证封面、内页1、内页2、内页3…;
							<br><br>
							备选项2:购房合同第1页、第2页、第3页…;交款发票（或收据）第1张、第2张、第3张…;
							<br><br>
							备选项3:宅基地使用权证封面、内页1、内页2、内页3…;
							<br><br>
							备选项4:其他合法稳定住所证明：房管部门出具的房屋登记信息材料第1页、第2页、第3页…、房屋买卖协议等第1页、第2页、第3页…。
							<br><br>
							结婚证：封面、内页1、内页2、内页3...
							<br><br>
							离婚证:封面、内页1、内页2、内页3...
							<br><br>
							能够证明家庭成员关系的其它书面有效证明:第1页、第2页、第3页…。
						</p>
						<button>确定</button>
					</div>
				</div>
			</div>
			<!-- 工商营业执照复印件或者学校、职业培训机构的批准设立文件复印件 -->
			<div class="weui-cells weui-cells_form">
				<div class="container">
					<div class="weui_cells weui_cells_form">
						<div class="weui_cell">
							<div class="weui_cell_bd weui_cell_primary">
								<div class="weui_uploader">
									<div class="weui_uploader_hd weui_cell">
										<div class="weui_cell_bd weui_cell_primary">工商营业执照复印件或者学校、职业培训机构的批准设立文件复印件</div>
										<i class="weui-icon-warn weui-icon_msg-primary imgwarn img_i_base2"></i>
									</div>
									<div class="weui_uploader_bd">
										<ul class="weui_uploader_files two">
										</ul>
										<div class="weui_uploader_input_wrp">
											<input class="weui_uploader_input js_file2" type="file" name="img"
												accept="image/jpg,image/jpeg,image/png,image/gif" multiple=""></div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="weui_dialog_alert" style="display: none;">
					<div class="weui_mask"></div>
					<div class="weui_dialog">
						<div class="weui_dialog_hd"> <strong class="weui_dialog_title">警告</strong>
						</div>
						<div class="weui_dialog_bd">弹窗内容，告知当前页面信息等</div>
						<div class="weui_dialog_ft">
							<a href="javascript:;" class="weui_btn_dialog primary">确定</a>
						</div>
					</div>
				</div>
				<div class="imgshow imgshow_base2">
					<div>
						<p class="title"> 详细介绍 </p>
						<!--<img src="../../../img/shili/shili.jpg" alt="">-->
						<p class="zhushi">
							居民户口簿:封面、首页、索引页、户主常住人口登记卡、拟分户人员1常住人口登记卡、拟分户人员2常住人口登记卡…
							<br><br>
							居民身份证:居民身份证正面、居民身份证反面
							<br><br>
							房屋所有权、使用权证明或其他合法稳定住所证明备选项1:房屋所有权、使用权证明：房屋产权证封面、内页1、内页2、内页3…;
							<br><br>
							备选项2:购房合同第1页、第2页、第3页…;交款发票（或收据）第1张、第2张、第3张…;
							<br><br>
							备选项3:宅基地使用权证封面、内页1、内页2、内页3…;
							<br><br>
							备选项4:其他合法稳定住所证明：房管部门出具的房屋登记信息材料第1页、第2页、第3页…、房屋买卖协议等第1页、第2页、第3页…。
							<br><br>
							结婚证：封面、内页1、内页2、内页3...
							<br><br>
							离婚证:封面、内页1、内页2、内页3...
							<br><br>
							能够证明家庭成员关系的其它书面有效证明:第1页、第2页、第3页…。
						</p>
						<button>确定</button>
					</div>
				</div>
			</div>
			<!-- 法人证书复印件  -->
			<div class="weui-cells weui-cells_form">
				<div class="container">
					<div class="weui_cells weui_cells_form">
						<div class="weui_cell">
							<div class="weui_cell_bd weui_cell_primary">
								<div class="weui_uploader">
									<div class="weui_uploader_hd weui_cell">
										<div class="weui_cell_bd weui_cell_primary">法人证书复印件 
										</div>
										<i class="weui-icon-warn weui-icon_msg-primary imgwarn img_i_base3"></i>
									</div>
									<div class="weui_uploader_bd">
										<ul class="weui_uploader_files three">
										</ul>
										<div class="weui_uploader_input_wrp">
											<input class="weui_uploader_input js_file3" type="file" name="img"
												accept="image/jpg,image/jpeg,image/png,image/gif" multiple=""></div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="weui_dialog_alert" style="display: none;">
					<div class="weui_mask"></div>
					<div class="weui_dialog">
						<div class="weui_dialog_hd"> <strong class="weui_dialog_title">警告</strong>
						</div>
						<div class="weui_dialog_bd">弹窗内容，告知当前页面信息等</div>
						<div class="weui_dialog_ft">
							<a href="javascript:;" class="weui_btn_dialog primary">确定</a>
						</div>
					</div>
				</div>
				<div class="imgshow imgshow_base3">
					<div>
						<p class="title"> 详细介绍 </p>
						<!--<img src="../../../img/shili/shili.jpg" alt="">-->
						<p class="zhushi">
							居民户口簿:封面、首页、索引页、户主常住人口登记卡、拟分户人员1常住人口登记卡、拟分户人员2常住人口登记卡…
							<br><br>
							居民身份证:居民身份证正面、居民身份证反面
							<br><br>
							房屋所有权、使用权证明或其他合法稳定住所证明备选项1:房屋所有权、使用权证明：房屋产权证封面、内页1、内页2、内页3…;
							<br><br>
							备选项2:购房合同第1页、第2页、第3页…;交款发票（或收据）第1张、第2张、第3张…;
							<br><br>
							备选项3:宅基地使用权证封面、内页1、内页2、内页3…;
							<br><br>
							备选项4:其他合法稳定住所证明：房管部门出具的房屋登记信息材料第1页、第2页、第3页…、房屋买卖协议等第1页、第2页、第3页…。
							<br><br>
							结婚证：封面、内页1、内页2、内页3...
							<br><br>
							离婚证:封面、内页1、内页2、内页3...
							<br><br>
							能够证明家庭成员关系的其它书面有效证明:第1页、第2页、第3页…。
						</p>
						<button>确定</button>
					</div>
				</div>
			</div>
					<!-- 法定代表人  -->
						<div class="weui-cells weui-cells_form">
							<div class="container">
								<div class="weui_cells weui_cells_form">
									<div class="weui_cell">
										<div class="weui_cell_bd weui_cell_primary">
											<div class="weui_uploader">
												<div class="weui_uploader_hd weui_cell">
													<div class="weui_cell_bd weui_cell_primary">法定代表人身份证 
													</div>
													<i class="weui-icon-warn weui-icon_msg-primary imgwarn img_i_base4"></i>
												</div>
												<div class="weui_uploader_bd">
													<ul class="weui_uploader_files four">
													</ul>
													<div class="weui_uploader_input_wrp">
														<input class="weui_uploader_input js_file4" type="file" name="img"
															accept="image/jpg,image/jpeg,image/png,image/gif" multiple=""></div>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
							<div class="weui_dialog_alert" style="display: none;">
								<div class="weui_mask"></div>
								<div class="weui_dialog">
									<div class="weui_dialog_hd"> <strong class="weui_dialog_title">警告</strong>
									</div>
									<div class="weui_dialog_bd">弹窗内容，告知当前页面信息等</div>
									<div class="weui_dialog_ft">
										<a href="javascript:;" class="weui_btn_dialog primary">确定</a>
									</div>
								</div>
							</div>
							<div class="imgshow imgshow_base4">
								<div>
									<p class="title"> 详细介绍 </p>
									<!--<img src="../../../img/shili/shili.jpg" alt="">-->
									<p class="zhushi">
										居民户口簿:封面、首页、索引页、户主常住人口登记卡、拟分户人员1常住人口登记卡、拟分户人员2常住人口登记卡…
										<br><br>
										居民身份证:居民身份证正面、居民身份证反面
										<br><br>
										房屋所有权、使用权证明或其他合法稳定住所证明备选项1:房屋所有权、使用权证明：房屋产权证封面、内页1、内页2、内页3…;
										<br><br>
										备选项2:购房合同第1页、第2页、第3页…;交款发票（或收据）第1张、第2张、第3张…;
										<br><br>
										备选项3:宅基地使用权证封面、内页1、内页2、内页3…;
										<br><br>
										备选项4:其他合法稳定住所证明：房管部门出具的房屋登记信息材料第1页、第2页、第3页…、房屋买卖协议等第1页、第2页、第3页…。
										<br><br>
										结婚证：封面、内页1、内页2、内页3...
										<br><br>
										离婚证:封面、内页1、内页2、内页3...
										<br><br>
										能够证明家庭成员关系的其它书面有效证明:第1页、第2页、第3页…。
									</p>
									<button>确定</button>
								</div>
							</div>
						</div>
		<!-- 主要管理人员  -->
			<div class="weui-cells weui-cells_form">
				<div class="container">
					<div class="weui_cells weui_cells_form">
						<div class="weui_cell">
							<div class="weui_cell_bd weui_cell_primary">
								<div class="weui_uploader">
									<div class="weui_uploader_hd weui_cell">
										<div class="weui_cell_bd weui_cell_primary">主要管理人员身份证
										</div>
										<i class="weui-icon-warn weui-icon_msg-primary imgwarn img_i_base5"></i>
									</div>
									<div class="weui_uploader_bd">
										<ul class="weui_uploader_files five">
										</ul>
										<div class="weui_uploader_input_wrp">
											<input class="weui_uploader_input js_file5" type="file" name="img"
												accept="image/jpg,image/jpeg,image/png,image/gif" multiple=""></div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="weui_dialog_alert" style="display: none;">
					<div class="weui_mask"></div>
					<div class="weui_dialog">
						<div class="weui_dialog_hd"> <strong class="weui_dialog_title">警告</strong>
						</div>
						<div class="weui_dialog_bd">弹窗内容，告知当前页面信息等</div>
						<div class="weui_dialog_ft">
							<a href="javascript:;" class="weui_btn_dialog primary">确定</a>
						</div>
					</div>
				</div>
				<div class="imgshow imgshow_base5">
					<div>
						<p class="title"> 详细介绍 </p>
						<!--<img src="../../../img/shili/shili.jpg" alt="">-->
						<p class="zhushi">
							居民户口簿:封面、首页、索引页、户主常住人口登记卡、拟分户人员1常住人口登记卡、拟分户人员2常住人口登记卡…
							<br><br>
							居民身份证:居民身份证正面、居民身份证反面
							<br><br>
							房屋所有权、使用权证明或其他合法稳定住所证明备选项1:房屋所有权、使用权证明：房屋产权证封面、内页1、内页2、内页3…;
							<br><br>
							备选项2:购房合同第1页、第2页、第3页…;交款发票（或收据）第1张、第2张、第3张…;
							<br><br>
							备选项3:宅基地使用权证封面、内页1、内页2、内页3…;
							<br><br>
							备选项4:其他合法稳定住所证明：房管部门出具的房屋登记信息材料第1页、第2页、第3页…、房屋买卖协议等第1页、第2页、第3页…。
							<br><br>
							结婚证：封面、内页1、内页2、内页3...
							<br><br>
							离婚证:封面、内页1、内页2、内页3...
							<br><br>
							能够证明家庭成员关系的其它书面有效证明:第1页、第2页、第3页…。
						</p>
						<button>确定</button>
					</div>
				</div>
			</div>
				<!-- 师资人员身份证  -->
						<div class="weui-cells weui-cells_form">
							<div class="container">
								<div class="weui_cells weui_cells_form">
									<div class="weui_cell">
										<div class="weui_cell_bd weui_cell_primary">
											<div class="weui_uploader">
												<div class="weui_uploader_hd weui_cell">
													<div class="weui_cell_bd weui_cell_primary">师资人员身份证 
													</div>
													<i class="weui-icon-warn weui-icon_msg-primary imgwarn img_i_base6"></i>
												</div>
												<div class="weui_uploader_bd">
													<ul class="weui_uploader_files six">
													</ul>
													<div class="weui_uploader_input_wrp">
														<input class="weui_uploader_input js_file6" type="file" name="img"
															accept="image/jpg,image/jpeg,image/png,image/gif" multiple=""></div>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
							<div class="weui_dialog_alert" style="display: none;">
								<div class="weui_mask"></div>
								<div class="weui_dialog">
									<div class="weui_dialog_hd"> <strong class="weui_dialog_title">警告</strong>
									</div>
									<div class="weui_dialog_bd">弹窗内容，告知当前页面信息等</div>
									<div class="weui_dialog_ft">
										<a href="javascript:;" class="weui_btn_dialog primary">确定</a>
									</div>
								</div>
							</div>
							<div class="imgshow imgshow_base6">
								<div>
									<p class="title"> 详细介绍 </p>
									<!--<img src="../../../img/shili/shili.jpg" alt="">-->
									<p class="zhushi">
										居民户口簿:封面、首页、索引页、户主常住人口登记卡、拟分户人员1常住人口登记卡、拟分户人员2常住人口登记卡…
										<br><br>
										居民身份证:居民身份证正面、居民身份证反面
										<br><br>
										房屋所有权、使用权证明或其他合法稳定住所证明备选项1:房屋所有权、使用权证明：房屋产权证封面、内页1、内页2、内页3…;
										<br><br>
										备选项2:购房合同第1页、第2页、第3页…;交款发票（或收据）第1张、第2张、第3张…;
										<br><br>
										备选项3:宅基地使用权证封面、内页1、内页2、内页3…;
										<br><br>
										备选项4:其他合法稳定住所证明：房管部门出具的房屋登记信息材料第1页、第2页、第3页…、房屋买卖协议等第1页、第2页、第3页…。
										<br><br>
										结婚证：封面、内页1、内页2、内页3...
										<br><br>
										离婚证:封面、内页1、内页2、内页3...
										<br><br>
										能够证明家庭成员关系的其它书面有效证明:第1页、第2页、第3页…。
									</p>
									<button>确定</button>
								</div>
							</div>
						</div>
		<!-- 法定代表人、主要管理人员、师资人员无犯罪记录证明  -->
			<div class="weui-cells weui-cells_form">
				<div class="container">
					<div class="weui_cells weui_cells_form">
						<div class="weui_cell">
							<div class="weui_cell_bd weui_cell_primary">
								<div class="weui_uploader">
									<div class="weui_uploader_hd weui_cell">
										<div class="weui_cell_bd weui_cell_primary">法定代表人、主要管理人员、师资人员无犯罪记录证明 
										</div>
										<i class="weui-icon-warn weui-icon_msg-primary imgwarn img_i_base7"></i>
									</div>
									<div class="weui_uploader_bd">
										<ul class="weui_uploader_files seven">
										</ul>
										<div class="weui_uploader_input_wrp">
											<input class="weui_uploader_input js_file7" type="file" name="img"
												accept="image/jpg,image/jpeg,image/png,image/gif" multiple=""></div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="weui_dialog_alert" style="display: none;">
					<div class="weui_mask"></div>
					<div class="weui_dialog">
						<div class="weui_dialog_hd"> <strong class="weui_dialog_title">警告</strong>
						</div>
						<div class="weui_dialog_bd">弹窗内容，告知当前页面信息等</div>
						<div class="weui_dialog_ft">
							<a href="javascript:;" class="weui_btn_dialog primary">确定</a>
						</div>
					</div>
				</div>
				<div class="imgshow imgshow_base7">
					<div>
						<p class="title"> 详细介绍 </p>
						<!--<img src="../../../img/shili/shili.jpg" alt="">-->
						<p class="zhushi">
							居民户口簿:封面、首页、索引页、户主常住人口登记卡、拟分户人员1常住人口登记卡、拟分户人员2常住人口登记卡…
							<br><br>
							居民身份证:居民身份证正面、居民身份证反面
							<br><br>
							房屋所有权、使用权证明或其他合法稳定住所证明备选项1:房屋所有权、使用权证明：房屋产权证封面、内页1、内页2、内页3…;
							<br><br>
							备选项2:购房合同第1页、第2页、第3页…;交款发票（或收据）第1张、第2张、第3张…;
							<br><br>
							备选项3:宅基地使用权证封面、内页1、内页2、内页3…;
							<br><br>
							备选项4:其他合法稳定住所证明：房管部门出具的房屋登记信息材料第1页、第2页、第3页…、房屋买卖协议等第1页、第2页、第3页…。
							<br><br>
							结婚证：封面、内页1、内页2、内页3...
							<br><br>
							离婚证:封面、内页1、内页2、内页3...
							<br><br>
							能够证明家庭成员关系的其它书面有效证明:第1页、第2页、第3页…。
						</p>
						<button>确定</button>
					</div>
				</div>
			</div>
				<!-- 主要管理人员的相关资格证明文件  -->
						<div class="weui-cells weui-cells_form">
							<div class="container">
								<div class="weui_cells weui_cells_form">
									<div class="weui_cell">
										<div class="weui_cell_bd weui_cell_primary">
											<div class="weui_uploader">
												<div class="weui_uploader_hd weui_cell">
													<div class="weui_cell_bd weui_cell_primary">主要管理人员的相关资格证明文件 
													</div>
													<i class="weui-icon-warn weui-icon_msg-primary imgwarn img_i_base8"></i>
												</div>
												<div class="weui_uploader_bd">
													<ul class="weui_uploader_files eight">
													</ul>
													<div class="weui_uploader_input_wrp">
														<input class="weui_uploader_input js_file8" type="file" name="img"
															accept="image/jpg,image/jpeg,image/png,image/gif" multiple=""></div>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
							<div class="weui_dialog_alert" style="display: none;">
								<div class="weui_mask"></div>
								<div class="weui_dialog">
									<div class="weui_dialog_hd"> <strong class="weui_dialog_title">警告</strong>
									</div>
									<div class="weui_dialog_bd">弹窗内容，告知当前页面信息等</div>
									<div class="weui_dialog_ft">
										<a href="javascript:;" class="weui_btn_dialog primary">确定</a>
									</div>
								</div>
							</div>
							<div class="imgshow imgshow_base8">
								<div>
									<p class="title"> 详细介绍 </p>
									<!--<img src="../../../img/shili/shili.jpg" alt="">-->
									<p class="zhushi">
										居民户口簿:封面、首页、索引页、户主常住人口登记卡、拟分户人员1常住人口登记卡、拟分户人员2常住人口登记卡…
										<br><br>
										居民身份证:居民身份证正面、居民身份证反面
										<br><br>
										房屋所有权、使用权证明或其他合法稳定住所证明备选项1:房屋所有权、使用权证明：房屋产权证封面、内页1、内页2、内页3…;
										<br><br>
										备选项2:购房合同第1页、第2页、第3页…;交款发票（或收据）第1张、第2张、第3张…;
										<br><br>
										备选项3:宅基地使用权证封面、内页1、内页2、内页3…;
										<br><br>
										备选项4:其他合法稳定住所证明：房管部门出具的房屋登记信息材料第1页、第2页、第3页…、房屋买卖协议等第1页、第2页、第3页…。
										<br><br>
										结婚证：封面、内页1、内页2、内页3...
										<br><br>
										离婚证:封面、内页1、内页2、内页3...
										<br><br>
										能够证明家庭成员关系的其它书面有效证明:第1页、第2页、第3页…。
									</p>
									<button>确定</button>
								</div>
							</div>
						</div>
		<!-- 师资人员的相关资格证明文件  -->
			<div class="weui-cells weui-cells_form">
				<div class="container">
					<div class="weui_cells weui_cells_form">
						<div class="weui_cell">
							<div class="weui_cell_bd weui_cell_primary">
								<div class="weui_uploader">
									<div class="weui_uploader_hd weui_cell">
										<div class="weui_cell_bd weui_cell_primary">师资人员的相关资格证明文件 
										</div>
										<i class="weui-icon-warn weui-icon_msg-primary imgwarn img_i_base9"></i>
									</div>
									<div class="weui_uploader_bd">
										<ul class="weui_uploader_files nine">
										</ul>
										<div class="weui_uploader_input_wrp">
											<input class="weui_uploader_input js_file9" type="file" name="img"
												accept="image/jpg,image/jpeg,image/png,image/gif" multiple=""></div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="weui_dialog_alert" style="display: none;">
					<div class="weui_mask"></div>
					<div class="weui_dialog">
						<div class="weui_dialog_hd"> <strong class="weui_dialog_title">警告</strong>
						</div>
						<div class="weui_dialog_bd">弹窗内容，告知当前页面信息等</div>
						<div class="weui_dialog_ft">
							<a href="javascript:;" class="weui_btn_dialog primary">确定</a>
						</div>
					</div>
				</div>
				<div class="imgshow imgshow_base9">
					<div>
						<p class="title"> 详细介绍 </p>
						<!--<img src="../../../img/shili/shili.jpg" alt="">-->
						<p class="zhushi">
							居民户口簿:封面、首页、索引页、户主常住人口登记卡、拟分户人员1常住人口登记卡、拟分户人员2常住人口登记卡…
							<br><br>
							居民身份证:居民身份证正面、居民身份证反面
							<br><br>
							房屋所有权、使用权证明或其他合法稳定住所证明备选项1:房屋所有权、使用权证明：房屋产权证封面、内页1、内页2、内页3…;
							<br><br>
							备选项2:购房合同第1页、第2页、第3页…;交款发票（或收据）第1张、第2张、第3张…;
							<br><br>
							备选项3:宅基地使用权证封面、内页1、内页2、内页3…;
							<br><br>
							备选项4:其他合法稳定住所证明：房管部门出具的房屋登记信息材料第1页、第2页、第3页…、房屋买卖协议等第1页、第2页、第3页…。
							<br><br>
							结婚证：封面、内页1、内页2、内页3...
							<br><br>
							离婚证:封面、内页1、内页2、内页3...
							<br><br>
							能够证明家庭成员关系的其它书面有效证明:第1页、第2页、第3页…。
						</p>
						<button>确定</button>
					</div>
				</div>
			</div>
			<!-- 保安培训所需的场所、设施等教学条件的证明文件  -->
						<div class="weui-cells weui-cells_form">
							<div class="container">
								<div class="weui_cells weui_cells_form">
									<div class="weui_cell">
										<div class="weui_cell_bd weui_cell_primary">
											<div class="weui_uploader">
												<div class="weui_uploader_hd weui_cell">
													<div class="weui_cell_bd weui_cell_primary">保安培训所需的场所、设施等教学条件的证明文件 
													</div>
													<i class="weui-icon-warn weui-icon_msg-primary imgwarn img_i_base10"></i>
												</div>
												<div class="weui_uploader_bd">
													<ul class="weui_uploader_files ten">
													</ul>
													<div class="weui_uploader_input_wrp">
														<input class="weui_uploader_input js_file10" type="file" name="img"
															accept="image/jpg,image/jpeg,image/png,image/gif" multiple=""></div>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
							<div class="weui_dialog_alert" style="display: none;">
								<div class="weui_mask"></div>
								<div class="weui_dialog">
									<div class="weui_dialog_hd"> <strong class="weui_dialog_title">警告</strong>
									</div>
									<div class="weui_dialog_bd">弹窗内容，告知当前页面信息等</div>
									<div class="weui_dialog_ft">
										<a href="javascript:;" class="weui_btn_dialog primary">确定</a>
									</div>
								</div>
							</div>
							<div class="imgshow imgshow_base10">
								<div>
									<p class="title"> 详细介绍 </p>
									<!--<img src="../../../img/shili/shili.jpg" alt="">-->
									<p class="zhushi">
										居民户口簿:封面、首页、索引页、户主常住人口登记卡、拟分户人员1常住人口登记卡、拟分户人员2常住人口登记卡…
										<br><br>
										居民身份证:居民身份证正面、居民身份证反面
										<br><br>
										房屋所有权、使用权证明或其他合法稳定住所证明备选项1:房屋所有权、使用权证明：房屋产权证封面、内页1、内页2、内页3…;
										<br><br>
										备选项2:购房合同第1页、第2页、第3页…;交款发票（或收据）第1张、第2张、第3张…;
										<br><br>
										备选项3:宅基地使用权证封面、内页1、内页2、内页3…;
										<br><br>
										备选项4:其他合法稳定住所证明：房管部门出具的房屋登记信息材料第1页、第2页、第3页…、房屋买卖协议等第1页、第2页、第3页…。
										<br><br>
										结婚证：封面、内页1、内页2、内页3...
										<br><br>
										离婚证:封面、内页1、内页2、内页3...
										<br><br>
										能够证明家庭成员关系的其它书面有效证明:第1页、第2页、第3页…。
									</p>
									<button>确定</button>
								</div>
							</div>
						</div>
						<div>
							<center>
							<div class="weui-form-preview__ft">
									<button type="submit" class="weui-form-preview__btn weui-form-preview__btn_primary"  style="color: 3371E3" onclick="showThree()">上一步</button>				
									<button type="submit" class="weui-form-preview__btn weui-form-preview__btn_primary"  style="color: 3371E3" >提交</button>
								  </div>
							</center>
						</div>
					</div>
		</section>
	</form>
</body>

</html>